@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

body {
    background-color: #f6f6f6;
    font-family: "Poetsen One", sans-serif;
}

header {
    background-color: #222831;
    width: 100%;
    padding: 2rem;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header nav ul li a {
    margin: 0 4rem;
    color: #EEEEEE;
}

header nav ul li a:hover {
    border-bottom: 3px solid #76aba6;
}

.Dragões {
    margin: 2%;
}

.Dragões__lista {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Dragões__item {
    max-width: 20rem;
}

img {
    width: 100%;
}

.Dragões__informacoes h3 {
    text-align: center;
    font-size: 1.5rem;
}

.Dragões__informacoes p {
    text-align: center;
}

.Dragões__informacoes h4 {
    font-size: 1.5rem;
}

.Dragões__informacoes s {
    font-size: 1rem;
    color: red;
    margin-left: 1.5rem;
}

footer {
    background-color: green;
    padding: 1rem;
    text-align: center;
}