body {
    background-color: #f6f6f6;
    font-family: 'Poetsen One', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222831;
    width: 100%;
    padding: 2rem;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li a {
    margin: 0 4rem;
    color: #eeeeee;
    text-decoration: none;
    font-size: 1.5rem;
}

header nav ul li a:hover {
    border-bottom: 3px solid #76aba6;
}

.Dragões {
    margin: 2% auto;
    max-width: 90%;
}

.Dragões__lista {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0;
}

.Dragões__item {
    max-width: 20rem;
    text-align: center;
}

img {
    width: 100%;
    max-width: 400px;
    height: 300px;
    object-fit: cover;
    margin: 0 auto;
}

h3, p, h4 {
    margin: 0.5rem 0;
}

.atributo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.valor {
    font-weight: bold;
    color: red;
}

.ocultar {
    color: black;
    font-style: italic;
}

.placar {
    text-align: center;
    margin: 1rem;
    background-color: #222831;
    color: white;
    padding: 1rem;
    border-radius: 10px;
}

button {
    padding: 5px 10px;
    background-color: #76aba6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #558c84;
}

footer {
    background-color: green;
    color: white;
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
